body {
    font-family: 'Times New Roman', Times, serif;
   background-color:rgb(137, 189, 219);
    margin: 0;
    padding: 0;
    a:link {
        color: rgb(121, 196, 231);
        background-color: transparent;
        text-decoration: none;
    }

a:visited {
    color: rgb(20, 96, 196);
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: rgb(55, 130, 180);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(73, 127, 228);
    background-color: transparent;
    text-decoration: underline;
}
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background-color: rgb(232, 241, 248);
    padding: 30px;
    box-shadow: 0 4px 10px rgb(56, 107, 141);
    border-radius: 10px;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header p{
    margin: 2px 0;
    color: rgb(30, 81, 158);
}
h2 {
    color: rgb(50, 68, 167);
    border-bottom: 2px solid rgb(45, 104, 180);
}

h1 {
    color:rgb(36, 129, 190)
}